@page "/weather"

<PageTitle>Movimientos</PageTitle>

<h1>Movimientos</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>03/02/2024</td>
            <td>Bono comision</td>
            <td>150000</td>
            <td>Ingresos</td>
            <td>Juan carlos</td>
            <td>
                <button class="btn btn-success">Editar</button>
                <button class="btn btn-warning">Editar</button>

            </td>
        </tr>
    </tbody>
</table>
<br />
<h3>Nuevo Movimiento</h3>
<label>Usuario</label>
<select class="form-control">
    <option selected value="Ingreso">Seleccionar Usuario</option>
    <option selected value="Egreso">Carlos Andres</option>
</select>

<label>Cantidad</label>
<input class="form-control" type="number" />
<label>Tipo</label>
<select class="form-control">
    <option selected value="Ingreso">Ingreso</option>
    <option selected value="Egreso">Ingreso</option>
</select>
<label>Descripcion</label>
<input class="form-control" type="text" />
<button class="btn-primary">Guardar</button>
<label>Procesando..</label>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
